* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background: linear-gradient(30deg, red, rgb(0, 0, 0));
  color: white;

  position: fixed;
  z-index: 1;
  width: 210px;
  height: 100%;

  padding: 10px 20px;
  margin-left: -30px;
  margin-top: -19px;
  margin-bottom: -40px;
}
#logo {
  height: 120px;
  width: 140px;

  margin: 20px;
  margin-left: 40px;
  margin-bottom: -30px;
}

header h1 {
  text-align: center;
  font-size: 50px;
}
header p {
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  list-style-type: none;
}
header nav ul li:first-child {
  height: 10px;
  position: absolute;
  width: 85%;
  border-radius: 6px;
}
header nav ul li {
  width: 100%;
  padding: 5px 0px 20px 27px;
}
header i {
  padding-right: 10px;
  font-size: 20px;
}
header nav a {
  color: white;
  text-decoration: none;
}
.arrow {
  display: flex;
  column-gap: 55%;
}
.arrow .buttons .div-1 {
  display: flex;
  column-gap: 20px;
}
.arrow .buttons h3 {
  color: red;
}
.arrow .buttons .div-1 button {
  background: linear-gradient(130deg, red, black);
  border: none;
  padding: 10px 18px;
  font-size: 10px;
  box-shadow: 1px 1px 0.5px 1px black;
  border-radius: 20px;
  color: white;
}
.arrow .buttons .div-1 button:nth-child(2) {
  background: linear-gradient(180deg, red, rgb(255, 253, 253));
  border: none;
  padding: 10px 18px;
  font-size: 10px;
  box-shadow: none;
  border-radius: 20px;
  color: white;
}
.arrow .buttons .div-1 button:last-child {
  background: linear-gradient(130deg, red, rgb(255, 253, 253));
  border: none;
  padding: 10px 18px;
  font-size: 10px;
  border-radius: 20px;
  box-shadow: none;
  color: white;
}
.arrow {
  background-color: #f2f2f2;
  padding: 2% 2% 2% 23%;
}

.arrow .arr {
  border-radius: 100%;
  width: 50px;

  background-image: radial-gradient(red, rgb(58, 0, 0));
  color: white;
  font-size: 40px;
  width: 30px;
  box-shadow: 2px;
}

/* --------------------------- */

.whole-pf {
  background-color: #f2f2f2;
  padding-left: 25%;
  padding-bottom: 50px;
}
.profile .pf {
  display: flex;
  align-items: center;
  background-color: white;
  width: 500px;
  height: 300px;
  column-gap: 30px;
  padding: 10px 30px;
  border-radius: 20px;
}
.profile .pf .pf-1 h2 {
  width: 100%;
}
.profile .pf .pf-1 div h3 {
  font-size: 15px;
}
.profile .pf .pf-1 div {
  width: 100%;
  padding: 10px 0px;
}
.profile .pf .pf-1 div {
  width: 100%;
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.profile .pf-1 h2 {
  width: 100%;
  color: red;
}
.pf-1 div p1 {
  color: gray;
}
.profile .pf .pf-1 .nam {
  padding-top: 30px;
}
.profile .pf2 {
  padding: 0px 50px;
  width: 100%;
}
.pf-2 img {
  border-radius: 50%;
  width: 150px;
  padding-left: 60px;
}
.pf-2 div {
  display: flex;
  justify-content: end;
  padding-bottom: 15px;
  align-items: center;
  column-gap: 10px;
}
.pf-2 div p2 {
  font-weight: 600;
}
.pf-2 div p {
  padding-right: 50px;
}
.pf-2 div .img-1 {
  width: 25px;
  border-radius: 50%;
}
.pf-2 h3 {
  padding-top: 20px;
}
.pf-2 p {
  padding-top: 10px;
  color: gray;
  padding-right: 50px;
}
.pf-2 .edit {
  padding-right: 60px;
}
.pf-2 a {
  color: black;
}
.pf-2 h3,
.pf-2 p {
  width: 100%;
  text-align: center;
  padding-left: 30px;
}
.status .ver1 {
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 10px;
  color: orange;
  border: 1px solid orange;
}
.status .ver2 {
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 10px;
  color: green;
  /* background: linear-gradient(200deg,  green , rgba(0, 0, 0, 0.845)); */
}
.status .ver3 {
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 10px;
  border: none;
  color: white;
  background: linear-gradient(200deg, red, rgba(0, 0, 0, 0.845));
}
.profile {
  display: flex;
  column-gap: 100px;
}
.info {
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 300px;
}
.info .pf-1 {
  padding: 20px 30px;
}
.profilr .info .pf-1 div {
  width: 100%;
  height: 100%;
  padding-top: 25px;
}
.info .pf-1 div h3 {
  width: 100%;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ----------------------- */

.profile-1 .pf {
  column-gap: 100px;
  background-color: white;
  width: 470px;
  height: 300px;
  border-radius: 20px;
}
.profile-1 .pf .pf-1 {
  padding: 20px 30px;
}
.profile-1 .pf .pf-1 .pf1-sub {
  display: flex;
  align-items: baseline;
  column-gap: 100px;
  padding: 0px 0px;
}
.profile-1 .pf .pf-1 .pf1-sub div {
  width: 100%;
  padding: 10px 0px;
}
.profile-1 .pf .pf-1 .pf1-sub div div h3 {
  width: 100%;
  padding: 15px 0px;
}
.profile-1 .pf-1 h2 {
  color: red;
}
.profile-1 .pf-1 div p1 {
  color: gray;
}
.profile-1 .pf .pf-1 .nam {
  padding-top: 20px;
}
.pf-2 h3 {
  padding-top: 20px;
}
.pf-2 p {
  padding-top: 10px;
  color: gray;
}
.pf-2 h3,
.pf-2 p {
  text-align: center;
}
.status p {
  border-radius: 20px;
  padding: 4px 15px;
  font-size: 12px;
  color: green;
  border: 1px solid green;
}
.profile-1 {
  display: flex;
  column-gap: 100px;
}
.profile-1 .info {
  background-color: white;
  border-radius: 20px;
  width: 400px;
  height: 300px;
}
.profile-1 .info .pf-1 {
  padding: 20px 30px;
}
.profile-1 .info .pf-1 div {
  width: 100%;
  padding-top: 20px;
}
.profile-1 .info .pf-1 div h3 {
  padding-bottom: 10px;
}

/* ---------------------------- */

.profile-2 .pf {
  column-gap: 100px;
  background-color: white;
  width: 570px;
  height: 300px;
  border-radius: 20px;
}
.profile-2 .pf .pf-1 {
  padding: 20px 30px;
}
.profile-2 .pf .pf-1 div {
  padding-top: 25px;
}
.profile-2 .pf .pf-1 div p {
  color: gray;
  text-align: justify;
  padding-top: 10px;
}
.profile-2 .pf-1 h2 {
  color: red;
}
.profile-2 .pf-1 div p1 {
  color: gray;
}
.profile-2 .pf .pf-1 .nam {
  padding-top: 20px;
}
.profile-2 .pf-2 h3 {
  padding-top: 20px;
}
.profile-2 {
  display: flex;
  column-gap: 100px;
}
.profile-1 .info {
  background-color: white;
  border-radius: 20px;
  width: 400px;
  height: 300px;
}
.profile-2 .info .pf-1 div p {
  color: gray;
}
.profile-2 .info .pf-1 {
  padding: 20px 30px;
}
.profile-2 .info .pf-1 div {
  width: 100%;
  padding-top: 10px;
}
.profile-2 .info .pf-1 div h3 {
  padding-bottom: 10px;
}
.profile-2 .info .pf-1 .rate {
  display: flex;
  color: white;
  align-items: center;
  column-gap: 20px;
}
.profile-2 .info .pf-1 .rate p1 {
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  padding: 6px 10px;
  background-color: green;
}
.profile-2 .info .pf-1 .rate p {
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  color: white;
  padding: 6px 10px;
  background-color: gray;
}

/* ---------------------------- */
.profile-3 .pf {
  background-color: white;
  width: 970px;
  height: 100%;
  border-radius: 20px;
}
.profile-3 .pf .pf-1 {
  padding: 20px 30px;
}
.profile-3 .pf .pf-1 div {
  padding-top: 25px;
}
.profile-3 .pf .pf-1 div p {
  color: gray;
  text-align: justify;
  padding-top: 10px;
}
.profile-3 .pf-1 h2 {
  color: red;
}
.profile-3 .pf-1 div p {
  color: gray;
}
.profile-3 .pf .pf-1 {
  padding-top: 20px;
}
.profile-2 .pf-2 h3 {
  padding-top: 20px;
}
.profile-2 {
  display: flex;
  column-gap: 100px;
}

/* ----------------responsive------------- */

@media only screen and (max-width: 1300px) {
  .arrow {
    width: 100%;
    padding-left: 30%;
  }
  .whole-pf {
    width: 100%;
    padding-left: 32%;
  }
}
@media only screen and (max-width: 900px) {
  .arrow {
    width: 110%;
    padding-left: 38%;
  }
  .whole-pf {
    width: 100%;
    padding-top: 5%;
    padding-left: 50%;
  }
  .profile {
    display: block;
  }
  .profile .pf {
    background-color: white;
    width: 500px;
    height: 100%;
    margin-bottom: 40px;
    border-radius: 20px;
  }
  .profile-1 {
    display: block;
    column-gap: 100px;
  }
  .profile-1 .info {
    display: flex;
    align-items: center;
    background-color: white;
    width: 320px;
    height: 300px;
    column-gap: 20px;
    padding: 10px 10px;
    margin-bottom: 40px;
    border-radius: 20px;
  }
  .profile-2 {
    display: block;
  }
  .profile-2 .pf {
    margin-bottom: 40px;
  }
  .profile-3 .pf {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .arrow {
    width: 120%;
    padding-left: 48%;
    padding-right: 10%;
  }
  .whole-pf {
    width: 100%;
    padding-top: 5%;
    padding-left: 55%;
    padding-right: 25%;
  }
  .profile {
    display: block;
  }
  .profile .pf {
    background-color: white;
    width: 500px;
    height: 100%;
    margin-bottom: 40px;
    border-radius: 20px;
  }
  .profile-1 {
    display: block;
    column-gap: 100px;
  }
  .profile-1 .info {
    display: flex;
    align-items: center;
    background-color: white;
    width: 320px;
    height: 300px;
    column-gap: 20px;
    padding: 10px 10px;
    margin-bottom: 40px;
    border-radius: 20px;
  }
  .profile-2 {
    display: block;
  }
  .profile-2 .pf {
    margin-bottom: 40px;
  }
  .profile-3 .pf {
    width: 600px;
  }
}
